* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #000000;
}

.wrapper {
  min-height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.static {
  background-color: #000000;
  color: #969696;
  padding: 14px 0px;
}
.static__row {
  display: flex;
  justify-content: space-between;
}
.static__info {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}
.static__login {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}

.header {
  background-color: #0F0F0F;
  color: #969696;
  padding: 31px 0px;
}
.header__row {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  cursor: pointer;
}
.header__item {
  display: inline;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 31px 20px 39px 20px;
}
.header__item:nth-child(4) {
  margin-left: 60px;
}
.header__item:hover {
  color: white;
  cursor: pointer;
  background-color: #1F1F1F;
}
.header__btn {
  border: 3px solid white;
  border-left: 0;
  border-right: 0;
  width: 35px;
  height: 26px;
  justify-content: center;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 15px;
  display: none;
}
.header__btn2 {
  border: 3px solid white;
  border-top: 0;
}
.header__btn3 {
  border: 3px solid white;
  border-top: 0;
  position: relative;
  display: none;
}

.main-info {
  background: url(../img/block1.jpg) 0 0/cover no-repeat;
  background-position: center;
  color: white;
  height: 830px;
}
.main-info__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-info__logo {
  max-width: 320px;
  padding: 0px 67px;
  border: 4px solid #FFFFFF;
  margin-bottom: 80px;
  margin-top: 160px;
}
.main-info__logo img {
  padding-top: 93px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid white;
}
.main-info__logo p {
  padding-bottom: 93px;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.main-info__text {
  max-width: 730px;
  max-height: 96px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.season2020 {
  font-family: "Playfair Display", serif;
  background-color: #000000;
  color: white;
  width: 100%;
}
.season2020__row {
  display: flex;
  justify-content: space-between;
}
.season2020__clocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52%;
  padding-top: 93px;
  padding-bottom: 93px;
}
.season2020__clock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.season2020__new-collection {
  background: url(/img/block2_2.jpg) 0 0/cover no-repeat;
  background-position: center;
  color: white;
  width: 48%;
}
.season2020__new-collection > .block-header {
  margin: 484px 252px 107px 252px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
.season2020__new-collection > .block-header > .line {
  margin: 30px 0px;
}
.season2020 .image-slider {
  width: 880px;
  margin: 0 auto;
}

.item {
  margin: 0px 15px;
}
.item img {
  background-color: #191B1C;
  padding: 55px 22px;
  margin-bottom: 25px;
}
.item p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.item p:last-child {
  margin-top: 10px;
  margin-bottom: 93px;
}

.btn {
  border: 1px solid white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1em;
  padding: 5px 20px;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
}

.block-header {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.block-header .line {
  margin-top: 50px;
  width: 120px;
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}

.collection2018 {
  background-color: #000000;
  max-width: 100%;
  color: white;
}
.collection2018__row {
  display: flex;
  justify-content: space-between;
}
.collection2018__img {
  background: url(/img/block3.jpg) 0 0/cover no-repeat;
  background-position: center;
  width: 48%;
}
.collection2018__info {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collection2018__info > .block-header {
  margin-top: 100px;
}
.collection2018__info > .block-header > .btn {
  margin-bottom: 107px;
}
.collection2018__info p {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  max-width: 471px;
  max-height: 173px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 68px;
}

.clocks-new {
  background-color: #000000;
  color: white;
  font-family: "Playfair Display", serif;
  padding: 50px 0px 50px 0px;
}
.clocks-new__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clocks-new__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.clocks-new__items > .item {
  margin: 0;
}
.clocks-new__items > .item > p:last-child {
  margin-bottom: 40px;
}
.clocks-new .img-slider {
  width: 1110px;
}

.brands {
  background-color: #0F0F0F;
  color: white;
  padding: 60px 0px 74px 0px;
}
.brands__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brands__items {
  display: flex;
  flex-wrap: wrap;
}
.brands .img-slider {
  width: 1110px;
}

.footer {
  color: white;
  background: url(/img/block5.jpg) 0 0/cover no-repeat;
  background-position: center;
  padding-top: 80px;
  padding-bottom: 99px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__about {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 33.333%;
}
.footer__header {
  font-family: "Playfair Display", serif;
  margin-bottom: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.footer__text {
  max-height: 147px;
}
.footer__categorys {
  display: flex;
  flex-direction: column;
  width: 33.333%;
}
.footer__items {
  display: flex;
  flex-wrap: wrap;
}
.footer__item {
  display: inline;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  background-color: #0F0F0F;
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.footer__item:first-child {
  margin-left: 0px;
}
.footer__item:last-child {
  margin-left: 0px;
}
.footer__mail {
  display: flex;
  flex-direction: column;
  width: 33.333%;
}
.footer__mail form {
  padding-top: 37px;
  display: flex;
  color: white;
}
.footer__mail form > input {
  max-width: 210px;
  opacity: 0.4;
  padding-left: 15px;
  max-height: 42px;
}
.footer__btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  background-color: #0F0F0F;
  padding: 10px 20px;
  cursor: pointer;
}

.bottom {
  background-color: #0F0F0F;
  color: #D0D0D0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 17px 0px;
}
.bottom__row {
  display: flex;
  justify-content: space-between;
}
.bottom__figma {
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}